:root { /* raíz do documento */
    --vermelho: #E50914;     /* declaração de variável no CSS */
    --preta: #141414;
}

* { /*RESET CSS - Regra de formatação padronizadora em diferentes navegadores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*limita o tamanho de tudo até a borda da caixa, não rompendo a saída dela*/
}

/* ELEMENTOS BASE */

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container { /* caixa de navegação e logo || uso do FLEXBOX */
    display: flex;
    flex-direction: row;
    align-items: center; /* alinhamento vertical */
    justify-content: space-between; /* justify content: alinhamento horizontal, sempre deve seguir a mesma direção do flex-direction || space-between - espaço entre os itens/tags */
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black' , Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover { /* formatação para evento específico */
    color: #fff;
}

/* FILME PRINCIPAL */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/stranger_things_capa.jpg'); /* linear-gradient cria uma camada fina em gradient, deve ser passado duas vezes a propriedade rgba (red-gree-blue-alfa) */
    background-position: center;

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column; /* elemento mudado para coluna */
    justify-content: center;
    align-items: flex-start /* flex-start - sempre alinha à esquerda */;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 5%; /* usar percentual garante fluidez */
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer; /* muda o cursor do mouse quando sobre o objeto, melhora a UX */
    transition: .3s ease all;   /* efeito de transição no mouse */
 }

 .botao:hover { /* inversão de cores com mouse sobre o elemento */
     background-color: white;
     color: black;
 }

 .botao i {
     margin-right: 8px;
 }

