/* Media queries */
/* formatação condicional ao tamanho da tela */
@media screen and (max-width:700px) {   /* regra aplicada na tela e quando a tela for de até no máximo 700 pixels */
    header .container {
        display: flex;
        flex-direction: column;
    }
    
    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}